In [1]:
#Import dependencies
import pandas as pd

In [35]:
#Read in data
sars_data = pd.read_csv('sars_clean.csv')
h1n1_data = pd.read_csv('h1n1_clean.csv')
covid_data = pd.read_csv('../../cleancovids.csv')

In [84]:
#pull country from each table

sars_country = sars_data[['Country']]
h1n1_country = h1n1_data[['Country']]
covid_country = covid_data[['Country']]

#append countries into list 
two_of_3 = sars_country.append(h1n1_country)
combined_countries = two_of_3.append(covid_country)

In [99]:
#deduplicate data
countries = []

for row in combined_countries['Country']:
    if row not in countries:
        countries.append(row)


new_countries = pd.DataFrame(countries)

new_countries.to_csv('distinct_countries.csv')

In [70]:
#give each country a unique id

distinct_countries["Country_ID"] = distinct_countries.reset_index().index
distinct_countries

                          Country_ID
Country
Afghanistan                        0
Albania                            1
Algeria                            2
Andorra                            3
Angola                             4
...                              ...
West Bank and Gaza Strip         202
Western Sahara                   203
Yemen                            204
Zambia                           205
Zimbabwe                         206

[207 rows x 1 columns]

In [79]:
#join tables to give country id

sars_data.merge(distinct_countries, how = 'left', left_on= 'Country' , right_on = 'Country')
sars_data
#h1n1_data.merge(distinct_countries, how = 'left', left_on= 'Country' , right_on = 'Country')
#covid_data.merge(distinct_countries, how = 'left', left_on= 'Country' , right_on = 'Country')

     Week         Country  Cases  Deaths
0       1          Canada     62      15
1       1           China   1226      36
2       1          France      1       0
3       1         Germany     12       0
4       1           Italy      5       0
..    ...             ...    ...     ...
392    15          Taiwan   1342     168
393    15        Thailand     18       4
394    15  United Kingdom      8       0
395    15   United States    150       0
396    15         Vietnam    126      10

[397 rows x 4 columns]