In [7]:
#import dependencies
import pandas as pd
import requests

In [8]:
#Read in csv data ('03, '09, '18)
pop_data = pd.read_csv('resources/popdensity.csv')
pop_data.head()

,Series Name,Series Code,Country Name,Country Code,2003 [YR2003],2009 [YR2009],2018 [YR2018]
0,Population density (people per sq. km of land ...,EN.POP.DNST,Afghanistan,AFG,36.272510185951,43.4929586741415,56.937760009803
1,Population density (people per sq. km of land ...,EN.POP.DNST,Albania,ALB,110.934890510949,106.843759124088,104.612262773723
2,Population density (people per sq. km of land ...,EN.POP.DNST,Algeria,DZA,13.5464647694543,14.8353224953185,17.7300750711665
3,Population density (people per sq. km of land ...,EN.POP.DNST,American Samoa,ASM,297.52,283.415,277.325
4,Population density (people per sq. km of land ...,EN.POP.DNST,Andorra,AND,155.706382978723,179.708510638298,163.842553191489

In [9]:
#Drop extraneous columns
pop_data.drop(['Series Name', 'Series Code'], axis=1, inplace=True)
pop_data.head()

,Country Name,Country Code,2003 [YR2003],2009 [YR2009],2018 [YR2018]
0,Afghanistan,AFG,36.272510185951,43.4929586741415,56.937760009803
1,Albania,ALB,110.934890510949,106.843759124088,104.612262773723
2,Algeria,DZA,13.5464647694543,14.8353224953185,17.7300750711665
3,American Samoa,ASM,297.52,283.415,277.325
4,Andorra,AND,155.706382978723,179.708510638298,163.842553191489

In [10]:
#Rename year columns for easier reading
pop_data.rename(columns={'2003 [YR2003]':2003, '2009 [YR2009]':2009, '2018 [YR2018]':2018}, inplace=True)
pop_data.head()

,Country Name,Country Code,2003,2009,2018
0,Afghanistan,AFG,36.272510185951,43.4929586741415,56.937760009803
1,Albania,ALB,110.934890510949,106.843759124088,104.612262773723
2,Algeria,DZA,13.5464647694543,14.8353224953185,17.7300750711665
3,American Samoa,ASM,297.52,283.415,277.325
4,Andorra,AND,155.706382978723,179.708510638298,163.842553191489

In [14]:
#Scrape 2020 pop density info from worldometers
url = 'https://www.worldometers.info/world-population/population-by-country/'
#Set headers to act like a web browser
header = {
  "User-Agent": "Chrome/81.0.4044.122",
  "X-Requested-With": "XMLHttpRequest"
}
#Create request
r = requests.get(url, headers=header)
#Read through tables in request
tables = pd.read_html(r.text)
#Check for data
tables[0].head()

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %