In [1]:
#import dependencies
import pandas as pd

In [2]:
#Read in csv data ('03, '09, '18)
pop_data = pd.read_csv('resources/popdensity.csv')
pop_data.head()

,Series Name,Series Code,Country Name,Country Code,2003 [YR2003],2009 [YR2009],2018 [YR2018]
0,Population density (people per sq. km of land ...,EN.POP.DNST,Afghanistan,AFG,36.272510185951,43.4929586741415,56.937760009803
1,Population density (people per sq. km of land ...,EN.POP.DNST,Albania,ALB,110.934890510949,106.843759124088,104.612262773723
2,Population density (people per sq. km of land ...,EN.POP.DNST,Algeria,DZA,13.5464647694543,14.8353224953185,17.7300750711665
3,Population density (people per sq. km of land ...,EN.POP.DNST,American Samoa,ASM,297.52,283.415,277.325
4,Population density (people per sq. km of land ...,EN.POP.DNST,Andorra,AND,155.706382978723,179.708510638298,163.842553191489

In [4]:
#Drop extraneous columns
pop_data.drop(['Series Name', 'Series Code'], axis=1, inplace=True)
pop_data.head()

,Country Name,Country Code,2003 [YR2003],2009 [YR2009],2018 [YR2018]
0,Afghanistan,AFG,36.272510185951,43.4929586741415,56.937760009803
1,Albania,ALB,110.934890510949,106.843759124088,104.612262773723
2,Algeria,DZA,13.5464647694543,14.8353224953185,17.7300750711665
3,American Samoa,ASM,297.52,283.415,277.325
4,Andorra,AND,155.706382978723,179.708510638298,163.842553191489

In [5]:
#Rename year columns for easier reading
pop_data.rename(columns={'2003 [YR2003]':2003, '2009 [YR2009]':2009, '2018 [YR2018]':2018}, inplace=True)
pop_data.head()

,Country Name,Country Code,2003,2009,2018
0,Afghanistan,AFG,36.272510185951,43.4929586741415,56.937760009803
1,Albania,ALB,110.934890510949,106.843759124088,104.612262773723
2,Algeria,DZA,13.5464647694543,14.8353224953185,17.7300750711665
3,American Samoa,ASM,297.52,283.415,277.325
4,Andorra,AND,155.706382978723,179.708510638298,163.842553191489