In [1]:
#Import dependencies
import pandas as pd

In [3]:
#Read in sars data
sars_data = pd.read_csv('resources/sars.csv')
#Check data was read in
sars_data.head()

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered
0,2003-03-17,Germany,1,0,0
1,2003-03-17,Canada,8,2,0
2,2003-03-17,Singapore,20,0,0
3,2003-03-17,"Hong Kong SAR, China",95,1,0
4,2003-03-17,Switzerland,2,0,0

In [4]:
#Remove recovered data
sars_data.drop('Number recovered', axis=1, inplace=True)
sars_data.head()

,Date,Country,Cumulative number of case(s),Number of deaths
0,2003-03-17,Germany,1,0
1,2003-03-17,Canada,8,2
2,2003-03-17,Singapore,20,0
3,2003-03-17,"Hong Kong SAR, China",95,1
4,2003-03-17,Switzerland,2,0

In [15]:
#Assign data to week progression of pandemic
dates = sars_data.Date.to_list()
weeks = []
for date in dates:
    #Week 1
    if date == '2003-03-17' or date == '2003-03-18' or date == '2003-03-19' or date == '2003-03-20' or date == '2003-03-21'/       or date == '2003-03-22' or date == '2003-03-24':
        weeks.append(1)
    #Week 2
    elif date == '2003-03-25' or date == '2003-03-26' or date == '2003-03-27' or date == '2003-03-28' or date == '2003-03-29'/
    or date == '2003-03-31' or date == '2003-04-01':
        weeks.append(2)
    #Week 3
    elif date == '2003-04-02' or date == '2003-04-03' or date == '2003-04-04' or date == '2003-04-05' or date == '2003-04-07'/     or date == '2003-04-08' or date == '2003-04-09':
        weeks.append(3)
    #Week 4

array(['2003-03-17', '2003-03-18', '2003-03-19', '2003-03-20',
       '2003-03-21', '2003-03-22', '2003-03-24', '2003-03-25',
       '2003-03-26', '2003-03-27', '2003-03-28', '2003-03-29',
       '2003-03-31', '2003-04-01', '2003-04-02', '2003-04-03',
       '2003-04-04', '2003-04-05', '2003-04-07', '2003-04-08',
       '2003-04-09', '2003-04-10', '2003-04-11', '2003-04-12',
       '2003-04-14', '2003-04-15', '2003-04-16', '2003-04-17',
       '2003-04-18', '2003-04-19', '2003-04-21', '2003-04-22',
       '2003-04-23', '2003-04-24', '2003-04-25', '2003-04-26',
       '2003-04-28', '2003-04-29', '2003-04-30', '2003-05-01',
       '2003-05-02', '2003-05-03', '2003-05-05', '2003-05-06',
       '2003-05-07', '2003-05-08', '2003-05-09', '2003-05-10',
       '2003-05-12', '2003-05-13', '2003-05-14', '2003-05-15',
       '2003-05-16', '2003-05-17', '2003-05-19', '2003-05-20',
       '2003-05-21', '2003-05-22', '2003-05-23', '2003-05-24',
       '2003-05-26', '2003-05-27', '2003-05-28', '2003-05-29',
       '2003-05-30', '2003-05-31', '2003-06-02', '2003-06-03',
       '2003-06-04', '2003-06-05', '2003-06-06', '2003-06-09',
       '2003-06-10', '2003-06-11', '2003-06-12', '2003-06-13',
       '2003-06-16', '2003-06-17', '2003-06-18', '2003-06-19',
       '2003-06-20', '2003-06-23', '2003-06-24', '2003-06-25',
       '2003-06-26', '2003-06-27', '2003-06-30', '2003-07-01',
       '2003-07-02', '2003-07-03', '2003-07-04', '2003-07-07',
       '2003-07-08', '2003-07-09', '2003-07-10', '2003-07-11'],
      dtype=object)