In [23]:
#Import dependencies
import pandas as pd
import datetime as dt

In [3]:
#Read in sars data
sars_data = pd.read_csv('resources/sars.csv')
#Check data was read in
sars_data.head()

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered
0,2003-03-17,Germany,1,0,0
1,2003-03-17,Canada,8,2,0
2,2003-03-17,Singapore,20,0,0
3,2003-03-17,"Hong Kong SAR, China",95,1,0
4,2003-03-17,Switzerland,2,0,0

In [4]:
#Remove recovered data
sars_data.drop('Number recovered', axis=1, inplace=True)
sars_data.head()

,Date,Country,Cumulative number of case(s),Number of deaths
0,2003-03-17,Germany,1,0
1,2003-03-17,Canada,8,2
2,2003-03-17,Singapore,20,0
3,2003-03-17,"Hong Kong SAR, China",95,1
4,2003-03-17,Switzerland,2,0

In [34]:
#Assign data to week progression of pandemic
#Set Date column to datetime type
dates = pd.to_datetime(sars_data.Date, yearfirst=True)
#Set first date in data
firstdate = dates[0]
#Parse trough dates to assign weeks
weeks = []
week = 1
i = 0
for date in dates:
    if firstdate <= date <= firstdate + dt.timedelta(days=7):
        weeks.append(week)
        i += 1
    else:
        firstdate = dates[i]
        week += 1
        weeks.append(week)
        i += 1
#Set data to appropriate week
sars_data['Week'] = weeks
#Drop unneeded Date column
sars_data.drop('Date', axis=1, inplace=True)
sars_data.head()

                Country  Cumulative number of case(s)  Number of deaths  Week
0               Germany                             1                 0     1
1                Canada                             8                 2     1
2             Singapore                            20                 0     1
3  Hong Kong SAR, China                            95                 1     1
4           Switzerland                             2                 0     1

In [39]:
#Clean Country names
countries = sars_data.Country.to_list()
countries_clean = []
for country in countries:
    #Set Hong Kong & Macao to China
    if 'Hong Kong' in country or 'Macao' in country:
        country = 'China'
        countries_clean.append(country)
    #Fix Veitnam's name
    elif country == 'Viet Nam':
        country = 'Vietnam'
        countries_clean.append(country)
    #Set Taiwan to Taiwan
    elif 'Taiwan' in country:
        country = 'Taiwan'
        countries_clean.append(country)
    #Set Russian Federation to Russia
    elif country == 'Russian Federation':
        country = 'Russia'
        countries_clean.append(country)
    #Append directly to clean list if no cleaning necessary
    else:
        countries_clean.append(country)
#Reset Country column to cleaned names
sars_data['Country'] = countries_clean
sars_data.head()

       Country  Cumulative number of case(s)  Number of deaths  Week
0      Germany                             1                 0     1
1       Canada                             8                 2     1
2    Singapore                            20                 0     1
3        China                            95                 1     1
4  Switzerland                             2                 0     1

In [41]:
#Rename columns for consistancy
sars_data.rename(columns={'Cumulative number of case(s)':'Cases','Number of deaths':'Deaths'}, inplace=True)
sars_data.head()

       Country  Cases  Deaths  Week
0      Germany      1       0     1
1       Canada      8       2     1
2    Singapore     20       0     1
3        China     95       1     1
4  Switzerland      2       0     1

In [43]:
#Group data by week and country
sars_group = sars_data.groupby(['Week', 'Country'])
sars_group.count().head()

              Cases  Deaths
Week Country
1    Canada       7       7
     China       13      13
     France       1       1
     Germany      7       7
     Italy        3       3